doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='theme-color', content='#ffffff')
    title Sectional
    link(rel='stylesheet', href='css/main.css?v=0.2')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
  body
    .footer-push
      .top-bar
        .wrapper.no-pad
          ul.navigation
            li
              a(href='#') Packages
            li
              a(href='#') Themes
            li
              a(href='#') Documentation
            li
              a(href='#') Blog
            li
              a(href='#') Discuss
          .top-bar-right
            a(href='#')
              span.octicon.octicon-log-in
              |  Sign in
      .container
        .welcome
          .call-to-action-tile
            .call-to-action
              .wrapper
                .columns
                  header.header
                    h1(title='Sectional: a modern structural engineering tool')
                      a.logo(href='/')
                    h2
                      | A structural steel database 
                      span.subtitle and section property calculator
                  a.download-button.js-download-button(href='#')
                    span.octicon.octicon-move-down
                    | Coming Soon
                  span.version-support
                    | For Windows 7 or later.
                    a(href='#') Other platforms
                    |  -
                    a(href='#') Beta releases
              .wrapper.no-pad
                span.screenshot-main
          .wrapper.welcome-blurb
            p
              | Sectional is a tool for structural engineers that catalogues properties of structural shapes. It's searchable, sortable, customizable, and lets you create and store your own custom shapes.
          .highlight
            h3 Full-featured, right out of the box
            .wrapper.features
              .one-o-feature
                .feature-circle
                  i.fa.fa-desktop.fa-2x.fa-inverse(aria-hidden='true')
                h4 Cross-platform
                p
                  | Sectional works across operating systems. You can use it on OS X, Windows, or Linux.
              .one-o-feature
                .feature-circle
                  i.fa.fa-search.fa-2x.fa-inverse(aria-hidden='true')
                h4 Searchable
                p Search for the section you're looking for. Sectional filters as you type
              .one-o-feature
                .feature-circle
                  i.fa.fa-sort-amount-asc.fa-2x.fa-inverse(aria-hidden='true')
                h4 Sortable
                p Sort sections by weight, depth, width, or any other section property.
            .wrapper.features
              .one-o-feature
                .feature-circle
                  i.fa.fa-share.fa-2x.fa-inverse(aria-hidden='true')
                h4 Export
                p Export your desired section properties for printing or importing into STAAD.pro 
              .one-o-feature
                .feature-circle
                  i.fa.fa-wrench.fa-2x.fa-inverse(aria-hidden='true')
                h4 Custom Sections
                p Design your own custom section. Sectional will calculate the properties for you.
              .one-o-feature
                .feature-circle
                  i.fa.fa-tags.fa-2x.fa-inverse(aria-hidden='true')
                h4 Tags
                p Tag sections based on the project or structure you're working on.
      .footer-pad
    footer
      .footer
        .wrapper.no-pad
          ul.footer-left
            li
              a(href='#') Terms of Use
            li
              a(href='#') Privacy
            li
              a(href='#') Code of Conduct
            li
              a(href='#') Releases
            li
              a(href='#') FAQ
            li
              a(href='#') Contact
          .footer-right
            a(href='http://jadedigital.ca')
              i.fa.fa-code.fa-inverse(aria-hidden='true')
              |  by Jade Digital
    script(src='https://use.fontawesome.com/ef4ebaee1a.js')
