$color-brown-base: #584743;
$color-brown-dark: #3c302d;
$color-blue-base: #0e3c7a;
$color-blue-dark: #0d3258;
$color-blue-secondary: #1869d4;
$color-blue-lighter: #6bb2ff;
$color-blue-lightest: #e0efff;
$color-beige-base: #fff6e0;
$color-grey-base: #888888;
$color-white-base: #ffffff;
$color-red-base: #b33223;